.Outer{
    width: 1366px;
    height: 768px; 
    /* background-color: #f9c82d; */
    background-image: linear-gradient(100deg, #14b349 -99%, #09a04f 199%);
}



.onToprectangle{
width: 1366px;
height: 56px;
/* background-color: #308e4d;   */
background-image: linear-gradient(100deg, #14b349 -99%, #09a04f 199%);
}

.Oval {
float: left;
width: 40px;
height: 40px;
margin-top:8px;
margin-left:143px ;
/* margin: 8px 1183px 8px 143px;     */
/* top right bottom left */
border-radius: 50%;
background-color: #152d4e;
}

.PeekameetText{
float: left;
width: 104px;
height: 24px;  
margin-top:16px;
margin-left:8px ;  
/* margin: 16px 1071px 16px 191px;       */
font-family: CircularStd;
font-size: 18.8px;
font-weight: 500;
font-stretch: normal;
font-style: normal;
line-height: normal;
letter-spacing: -0.4px;
color: #ffffff;
}

.Path1 {
width: 10px;
height: 16px;
background-color: #0080af;
}

.Path2 {
width: 13px;
height: 13px;
background-color: #f17c2b;
}
.Path3 {
width: 4px;
height: 4px;
background-color: #96368f;
}
.Path4 {
width: 13px;
height: 13px;
background-color: var(--darkish-pink);
}
.Path5 {
width: 10px;
height: 16px;
background-color: #308e4d;
}
.Path6 {
    width: 4px;
    height: 4px;
    background-color: #f9c82d;
    }

.Path7 {
    width: 16px;
    height: 10px;
    background-color: #1a9691;
    }

.Path8 {
    width: 4px;
    height: 4px;
    background-color: #e7212c;
    }


.Sign-In {
  
  
  border-radius: 4px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;



    float: Right;
    margin-top:13px;
    margin-right:143px;
    width: 65px;
    height: 30px;
    font-family: DMSans;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;   
  }

  .Sign-Up {
    border-radius: 4px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;

    margin-top:13px;
    float:Right;
    width: 65px;
    height: 30px;
    font-family: DMSans;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: var(--algae-green);
  }

  .onMiddle{
    width: 1080px;
    height: 588px;
    margin-top:30px;
    margin-left:143px;
    border-radius: 10px;
    background-color: #ffffff;
  }


  .Group-18{
    float:left;
    width: 559px;
    height: 468px;
    margin-top:30px;
    margin-left:30px;
    object-fit: contain;
  }

  .PEEKaMEET-lets-you-n{
    float:left;
    width: 431px;
    height: 55px;
    margin-top:30px;
    Margin-left:5px;
    font-family: DMSans;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #152d4e;
  }

  .PEEKaMEET-lets-you-n .para{
  font-size: 24px;
  font-weight: bold;
  }
   
  .Freelancer{
    margin-top:7px;
    margin-left:5px;
    padding: 6px 14px 7px 14px ;
    float:left;
    /* width: 100px;
    height: 30px; */
    border-radius: 15px;
    background-color: rgba(230, 49, 131, 0.18);
    font-family: DMSans;
    font-size: 13px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #f17c2b;
  }


  .Job{
    margin-top:7px;
    margin-left:5px;
    padding: 6px 14px 7px 14px ;
    float:left;
    border-radius: 15px;
    background-color: rgba(150, 54, 143, 0.18);
    font-family: DMSans;
    font-size: 13px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #96368f;
  }


  .enterpreneur{
    margin-top:7px;
    margin-left:5px;
    padding: 6px 14px 7px 14px ;
    float:left;
    /* margin-left:823px;
    margin-top: 101px; */
    border-radius: 15px;
    background-color: rgba(26, 150, 145, 0.18);
    font-family: DMSans;
    font-size: 13px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #1a9691;
  }

  .mompreneur{
    margin-top:7px;
    margin-left:5px;
    padding: 6px 14px 7px 14px ;
    float:left;
    border-radius: 15px;
    background-color: rgba(230, 49, 131, 0.18);
    font-family: DMSans;
    font-size: 13px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #e63183;
   
  }

  .Internship{
    margin-top:7px;
    margin-left:5px;
    padding: 6px 14px 7px 14px ;
    float:left;
    border-radius: 15px;
    background-color: rgba(0, 128, 175, 0.17);
    font-family: DMSans;
    font-size: 13px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0080af;
  
  }

  
  .Environmental-Change{
    margin-top:7px;
    margin-left:5px;
    padding: 6px 14px 7px 14px ;
    float:left;
    border-radius: 15px;
    background-color: rgba(231, 33, 44, 0.18);
    font-family: DMSans;
    font-size: 13px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #e7212c;
  
  }


  .Build-and-manage-you {
    float:left;
    margin-left: 5px;
    width: 431px;
    height: 24px;
    font-family: DMSans;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #152d4e;
  }

  
  .Email {
    /* margin-top:31px;
    margin-left: 619px; */
    margin-right: 320px;
    margin-left: 5px;
    margin-bottom: 15px;
    width: 31px;
    height: 16px;
    font-family: DMSans;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #9ea0a3;
  }


  .Rectangle-Copy-6 {
    margin: 10px;
    margin-left: 5px;
    margin-bottom: 15px;
    width: 431px;
    height: 36px;
    border-radius: 4px;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.11);
    border: solid 1px #1cb54f    ;
    background-color: #ffffff;
  }

  .psw{
  margin-right: 320px;
  margin-bottom: 15px;
  margin-left: 5px;
  width: 431px;
  height: 16px;
  font-family: DMSans;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #9ea0a3;
  }
  .Signin_Button{
  margin-left: 5px;
  width: 437px;
  height: 36px;
  border-radius: 4px;
  background-image: linear-gradient(92deg, #14b349 -109%, #09a04f 209%);
  }
  
  .rememberMe-checkbox{
  float: left;
  margin-top:10px;
  margin-left: 5px;
  width: 16px;
  height: 16px;
  object-fit: contain;
  opacity: 0.7;
  border-radius: 4px;
  border: solid 1px #152d4e;
  }

  .Remember-Me{
  float: left;
  margin-left: 5px;
  margin-top:10px;
  width: 95px;
  height: 18px;
  opacity: 0.7;
  font-family: DMSans;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #152d4e;
  }

  
  .forget{
    float: right;
    margin-right:30px;
    margin-top:10px;
    width: 109px;
    height: 18px;
    opacity: 0.7;
    font-family: DMSans;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #152d4e;
  }
  

  .onfoot{
  margin-top: 30px;
  width: 1366px;
  height: 64px;
  background-color: #f4f7f8;
  }

  
  .PEEKaMEET2020 {
    float: left;
    margin-top: 24px;
    margin-left: 30px;
    width: 121px;
    height: 18px;
    font-family: DMSans;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #152d4e;
  }

  .Follow-Us {
    float: left;
    margin-top: 24px;
    margin-left:99px;
    width: 63px;
    height: 18px;
    font-family: DMSans;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #152d4e;
  }
  .instagram-fill {
    float: left;
    margin-left: 8px;
    margin-top: 18px;
    width: 30px;
    height: 30px;
    object-fit: contain;
  }
  .youtube-fill {
    float: left;
    margin-left: 8px;
    margin-top: 18px;
    width: 30px;
    height: 30px;
    object-fit: contain;
  }
  .facebook-box-fill {
    float: left;
    margin-left: 8px;
    margin-top: 18px;
    width: 30px;
    height: 30px;
    object-fit: contain;
  }
  .twitter-fill {
    float: left;
    margin-left: 8px;
    margin-top: 18px;
    width: 30px;
    height: 30px;
    object-fit: contain;
  }
  .FAQs {
    float: left;
    margin-top: 24px;
   margin-left: 30px;
    width: 34px;
    height: 18px;
    font-family: DMSans;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #152d4e;
  }

  .Terms-Conditions {
    float: left;
    margin-top: 24px;
    margin-left: 16px;
    width: 128px;
    height: 18px;
    font-family: DMSans;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #152d4e;
  }


  .Privacy-Policy {
    float: left;
    margin-top: 24px;
    margin-left: 16px;
    width: 89px;
    height: 18px;
    font-family: DMSans;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #152d4e;
  }

  .About-Us-Copy {
    float: left;
    margin-top: 24px;
    margin-left: 16px;
    width: 60px;
    height: 18px;
    font-family: DMSans;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #152d4e;
  }

  .Press {
    float: left;
    margin-top: 24px;
    margin-left: 16px;
    width: 35px;
    height: 18px;
    font-family: DMSans;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #152d4e;
  }


  .Contact-Us {
    float: left;
    margin-top: 24px;
    margin-left: 16px;
    width: 73px;
    height: 18px;
    font-family: DMSans;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #152d4e;
  }


  .Perks {
    float: left;
    margin-top: 24px;
    margin-left: 16px;
    width: 35px;
    height: 18px;
    font-family: DMSans;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #152d4e;
  }

  .Blog {
    float: left;
    margin-top: 24px;
    margin-left: 16px;
    width: 28px;
    height: 18px;
    font-family: DMSans;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #152d4e;
  }


  .isa_info, .isa_success, .isa_warning, .isa_error {
    margin: 2px 0px;
    padding:2px;
     
    }
    .isa_info {
        color: #00529B;
        font-size:15px;

    }
    .isa_success {
        color: #4F8A10;
        font-size:15px;

    }
    .isa_warning {
        color: #9F6000;
        font-size:15px;

    }
    .isa_error {
        color: #D8000C;
        font-size:15px;

    }
    .isa_info i, .isa_success i, .isa_warning i, .isa_error i {
        /* margin:10px 22px; */
        vertical-align:middle;
    }



    /*  ----------------------------profile ------------------------------*/
    .Logout{
      margin-left: 1093;
      margin-top:24px;
    }
    .Logout {
      float: Right;
      margin-top:13px;
      margin-right:143px;
      width: 51px;
      height: 21px;
      font-family: DMSans;
      font-size: 16px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #ffffff;
     
    }
    .ProfileOuter{
    margin-left: 251px;
    margin-top: 15px;
    width: 479px;
    border-radius: 4px;
    border: solid 1px var(--algae-green);
    background-color: #ffffff;
    }

    .photobg{
    width: 479px;
    height: 92px;
    object-fit: contain;
    background-color: #000000;
    }

    .profilePhoto{
    margin-left: 180px;
    margin-top: -46px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #152d4e;
    }

    .btn {
      background-color: DodgerBlue;
      border: none;
      color: white;
      padding: 12px 16px;
      font-size: 16px;
      cursor: pointer;
    }

    .Username{
     
      margin-left: 182px;
      margin-top:10px;
      width: 114px;
    height: 21px;
    font-family: DMSans;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #152d4e;
    }

    .Userposition{
      margin-left: 225px;
      margin-top:5px;
      width: 26px;
      height: 16px;
      font-family: DMSans;
      font-size: 12px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #152d4e;
    }

    .Gold_brand{
      margin-left: 205px;
      margin-top:5px;
      width: 72px;
      height: 16px;
      font-family: DMSans;
      font-size: 12px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #152d4e;
    }

    .video{
      margin-left: 180px;
      margin-top:10px;
      width: 30px;
      height: 30px;
      object-fit: contain;
      border-radius: 50%;
      background-color: #00529B;
    }

    .golbutton{
      margin-left: 265px;
      margin-top:-31px;
      width: 30px;
      height: 30px;
      object-fit: contain;
      border-radius: 50%;
      background-color: #96368f;

    }

    .messagebutton{
      margin-left:90px;
      margin-top: 10px;
      width: 135px;
  height: 30px;
  border-radius: 4px;
  background-image: linear-gradient(to bottom, #14b349, #09a04f);
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;   
    }

    .contactbutton{
      margin-left:16px;
      margin-top: 10px;

      width: 135px;
  height: 30px;
  border-radius: 4px;
  background-image: linear-gradient(to bottom, #14b349, #09a04f);
        font-size: 12px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #ffffff;
    }

    .noteanddetail{
      margin-top: 20px;
    }

    .DETAIL{
      margin-left:10px;
      height: 30px;
      border-radius: 4px;
      background-color:Transparent;
      font-size: 12px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: Black;
      Border:0;
    }

    .NOTE{
      height: 30px;
      border-radius: 4px;
      background-color:Transparent;
      font-size: 12px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: Black;
      Border:0;
    }

.hrline{
  color:grey;
  margin-left:10px;
  margin-right:10px;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.11);

}
   

.Addnote_Button{
  margin-left: 5px;
  width: 437px;
  height: 36px;
  border-radius: 0px;
  background-color: transparent;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.11);

}

.noteform{
  margin-left: 190px;
}

.save{
  background-color: green;
}

.cancel{
  background-color:red;
}


.notebox{
  margin-left: 35px;
  width: 380px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
  padding:10px;
  margin-top:20px;
  border-radius: 10px;
  border-left-style: solid;
  /* border-top-color: coral; */ 
  border-left-width: 5px;
  border-left-color: green;
}

.date_time{
  font-size: 10px;
  color:grey;
}

.pagination-css{
  margin-top:20px;
  margin-left: 140px;
}

.dropdown{
  float:right;
  color:grey;
  border-radius: 4px;
  padding:8px;
  background-color: #ffffff;
}

.Follow-Up-Date{
  
  margin-left: 40px;
 /* float:left; */
  width: 84px;
  height: 16px;
  font-family: DMSans;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #9ea0a3;
}

.time {
  margin-left:100px;
  font-family: DMSans;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #9ea0a3;
}

.Notes {
  width: 34px;
  height: 16px;
  font-family: DMSans;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #9ea0a3;
}
.date_field{
  width: 107px;
  
  /* border: solid 1px #dddee2; */

  margin-top: 30px;
  margin-left: -90px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  color: #9ea0a3;

}

.time_field{
  margin-top:30px;
  width: 107px;
 height: 16px;
  /* border: solid 1px #dddee2; */

  margin-left: -20px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  /* border-bottom-style: groove; */
  color: #9ea0a3;
}

.abovefield{
display:flex;
margin-top:40px;
}

.content_Notes{
  padding-top:40px;
  margin-left: 40px;
  width: 34px;
  height: 16px;
  font-family: DMSans;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #9ea0a3;
}

.field_content{
  margin-left:37px;
  width: 320px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
}


.NOTE_save{
  margin-left:40px;
  width: 46px;
  height: 26px;
  border-radius: 4px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

.NOTE_cancel{
  margin-left:40px;
  width: 56px;
  height: 26px;
  border-radius: 4px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}


.logout{
 
    float: Right;
    margin-top:13px;
    margin-right:143px;
    width: 65px;
    height: 30px;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal; 
}

.Inspired-by-the-worl{
  text-align: center;
  height: 38px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: normal;
  color: var(--dark-slate-blue);
}

.Lorem-ipsum-dolor-si {
  text-align: center;
  height: 80px;
  font-family: DMSans;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #152d4e;
}
.Lorem-ipsum-dolor-si .Lorem-text-style-1 {
  color: #1cb54f
}
.Industrys {
  width: 61px;
  height: 16px;
  font-family: DMSans;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #9ea0a3;
}
.Web_Rectangle {
  float: left;
  width: 154px;
  height: 35px;
  border-radius: 17.5px;
  background-color: rgba(241, 124, 43, 0.18)  ;
}

.Web-Development {
  margin-left:20px;
  margin-bottom: 5px;
  width: 126px;
  height: 18px;
  font-family: DMSans;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #f17c2b;
}


.Fine-Art {
  margin-top:-2px;
  width: 53px;
  height: 18px;
  font-family: DMSans;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #f17c2b;
}

.Fine_rectangle{
  float: left;
  margin-top:-2px;
  width: 51px;
  height: 18px;
  margin: 8px 0 0 4px;
  padding: 9px 14px 8px;
  border-radius: 17.5px;
  background-color: rgba(241, 124, 43, 0.18);
}

.Detail_page{
  margin-left: 20px;
  margin-right: 20px;
  
}

.border_box_exchange{
  width: 477px;
  height: 50px;
  margin: 24px 0;
  background-color: rgba(28, 181, 79, 0.1);
  text-align:center;

}

.exchange-text{
 padding: 10px;
 padding-left: 70px;
  width: 281px;
  height: 24px;
  margin: 12px 172px 12px 24px;
  font-family: DMSans;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #1cb54f;

}